@font-face {
    font-family: 'BN Cringe Sans Regular';
    src: url('/fonts/bncringesans-regular-webfont.woff') format('woff');
} 

@font-face {
    font-family: 'BN Cringe Sans Medium';
    src: url("/fonts/bncringesans-medium-webfont.woff") format('woff');
} 

@font-face {
    font-family: 'BN Cringe Sans Light';
    src: url("/fonts/bncringesans-light-webfont.woff") format('woff');
} 

@font-face {
    font-family: 'BN Cringe Sans Bold';
    src: url("/fonts/bncringesans-bold-webfont.woff") format('woff');
} 

@font-face {
    font-family: 'BN Cringe Sans Black';
    src: url("/fonts/bncringesans-black-webfont.woff") format('woff');
}
